raiz {
    --branco- principal :  #FFFFFF ;
    --cinza-secundario :  # C0C0C0 ;
    --botao-azul :  # 167BF7 ;
    --cor-de-fundo :  # 00030C ;
    --fonte-principal :  'Inter' ;
    --botao-azul-efeito :  # 3c92fa ;
}

corpo {
    cor de fundo :  var ( -cor-de-fundo );
    cor :  var ( --branco-principal );
    família de fontes :  var ( -fonte-principal );
    tamanho da fonte :  16 px ;
    espessura da fonte :  400 ;
}

* {
    margem :  0 ;
    preenchimento :  0 ;
}

. diretor {
    imagem de fundo :  url ( "img/Background.png" );
    background-repeat : sem repetição;
    tamanho-de-fundo : conter;
    alinhar-itens : centro;
    alinhamento de texto : centralizar;
}

. recipiente {
    altura :  100 vh ;
    exibição : grade;
    colunas-de-modelo-de-grade :  50 %  50 % ;
}

. container__botao {
    cor de fundo :  var ( -botao-azul );
    raio da borda :  5 px ;
    preenchimento :  1 em ;
    cor :  var ( --branco-principal );
    exibir : bloco;
    text-decoration : nenhum;
    margem-inferior :  1 em ;
}

. botao_secundario {
    cor de fundo : transparente;
    borda :  var sólida de 2 px ( --branco-principal )
}

. container__aviso {
    tamanho da fonte :  12 px ;
    cor :  var ( -cinza-secundario );
}

. container__titulo {
    tamanho da fonte :  28 px ;
    espessura da fonte :  700 ;
}

. container__imagem {
    margem :  1 em  0  2 em  0 ;
}

. container__caixa {
    margem :  0  6 em ;
}

. secundario__imagem {
    largura :  80 % ;
}

. secundário {
    alinhar-itens : centro;
    margem :  0  10 em ;
}

. descrição__titulo {
    espessura da fonte :  700 ;
    tamanho da fonte :  48 px ;
    cor :  var ( --branco-principal );
    margem inferior :  0,1 em ;
}

. descrição__texto {
    cor :  var ( -cinza-secundario );
}

. secundario__botao {
    exibição : bloco embutido;
    margem-superior :  1 em ;
}

. container__descricao {
    preenchimento :  2 em ;
}

. dispositivo__lista {
    exibição : flex;
    justificar-conteúdo : centro;
    tipo-de-estilo-de-lista : nenhum;
    margem :  5 em  0 ;
}

. dispositivo {
    alinhamento de texto : centralizar;
}

. dispositivo__titulo {
    tamanho da fonte :  48 px ;
    cor :  var ( --branco-principal );
}

. lista__item {
    tamanho da fonte :  32 px ;
    cor :  var ( --branco-principal );
}

. rodape {
    alinhamento de texto : centralizar;
    margem :  5 em  3 em ;
}

. rodape__lista {
    exibição : flex;
    justificar-conteúdo : centro;
    tipo-de-estilo-de-lista : nenhum;
    margem-superior :  1 em ;
}

. lista__link  para {
    text-decoration : nenhum;
    cor :  var ( --branco-principal );
    margem-esquerda :  1 em ;
}

. rodape__texto {
    margem :  1 em  0 ;
    cor :  var ( -cinza-secundario );
    tamanho da fonte :  14 px ;
}

. lista__link  a : hover {
    cor :  var ( --botao-azul );
}

. lista__link  a : ativo {
    cor : roxo;
}

. container__botao : pairar {
    cor de fundo :  var ( --botao-azul-efeito );
    color :  var ( --cor-de-fundo );
}
